/* based on https:/github.com/upptime/status-page/blob/master/static/themes/light.css */
:root {
    --body-background-color: #ffffff;
    --body-text-color: #000000;
    --card-background-color: #ffffff;
    --nav-background-color: #ffffff;
    
    --nav-border-bottom-color: #004C45;
    --nav-current-border-bottom-color: #004C45;
    --up-border-left-color: #004C45;
    
    --card-border-color: #d8e8e4;
    --down-border-left-color: #e52321;
    --down-background-color: #ffd0d2;
    --degraded-border-left-color: #f4971a;
    
    --tag-color: #ffffff;
    --tag-up-background-color: #004C45;
    --tag-down-background-color: #e52321;
    --tag-degraded-background-color: #f4971a;
    --change-background-color: #f4971a;
    --error-button-border-color: #1a46ad;
    --error-button-background-color: #3867d6;
    --error-button-color: #ffffff;
    --submit-button-border-color: #1a46ad;
    --submit-button-background-color: #3867d6;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
}
