/* bug - need to serve from githubraw https://github.com/upptime/upptime/issues/468 */

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: https:/raw.githubusercontent.com/merginmaps/status/master/assets/inter-v8-latin-ext_latin-regular.eot;
    src: local(""),https:/raw.githubusercontent.com/merginmaps/status/master/assets/inter-v8-latin-ext_latin-regular.eot?#iefix format("embedded-opentype"),https:/raw.githubusercontent.com/merginmaps/status/master/assets/inter-v8-latin-ext_latin-regular.woff2 format("woff2"),https:/raw.githubusercontent.com/merginmaps/status/master/assets/inter-v8-latin-ext_latin-regular.woff format("woff"),https:/raw.githubusercontent.com/merginmaps/status/master/assets/inter-v8-latin-ext_latin-regular.ttf format("truetype"),https:/raw.githubusercontent.com/merginmaps/status/master/assets/inter-v8-latin-ext_latin-regular.svg#Inter format("svg")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: https:/raw.githubusercontent.com/merginmaps/status/master/assets/inter-v8-latin-ext_latin-700.eot;
    src: local(""),https:/raw.githubusercontent.com/merginmaps/status/master/assets/inter-v8-latin-ext_latin-700.eot?#iefix format("embedded-opentype"),https:/raw.githubusercontent.com/merginmaps/status/master/assets/inter-v8-latin-ext_latin-700.woff2 format("woff2"),https:/raw.githubusercontent.com/merginmaps/status/master/assets/inter-v8-latin-ext_latin-700.woff format("woff"),https:/raw.githubusercontent.com/merginmaps/status/master/assets/inter-v8-latin-ext_latin-700.ttf format("truetype"),https:/raw.githubusercontent.com/merginmaps/status/master/assets/inter-v8-latin-ext_latin-700.svg#Inter format("svg")
}

* {
    font-family: Inter!important
}

/* based on https:/github.com/upptime/status-page/blob/master/static/themes/light.css */
:root {
    --body-background-color: #ffffff;
    --body-text-color: #000000;
    --card-background-color: #ffffff;
    --nav-background-color: #ffffff;
    --nav-border-bottom-color: #00a884;
    --nav-current-border-bottom-color: #00a884;
    --card-border-color: #d8e8e4;
    --down-border-left-color: #e52321;
    --down-background-color: #ffd0d2;
    --degraded-border-left-color: #f4971a;
    --up-border-left-color: #00a884;
    --tag-color: #ffffff;
    --tag-up-background-color: #00a884;
    --tag-down-background-color: #e52321;
    --tag-degraded-background-color: #f4971a;
    --change-background-color: #f4971a;
    --error-button-border-color: #1a46ad;
    --error-button-background-color: #3867d6;
    --error-button-color: #ffffff;
    --submit-button-border-color: #1a46ad;
    --submit-button-background-color: #3867d6;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
}
